extends ./partials/_layout

block content
    .wrapping(style="padding:50px")
        h2 計算器
        h3 PCHOME
        hr
        .container
            .stepOne.clothed
                h2 step1：輸入購買金額
                .card-content.stepOne-content
                    .card-description 請輸入欲購物之金額
                    input.input-money(type="number" pattern="[0-9]*")
                    | 元
            .stepTwo.clothed
                h2 step2：選擇銀行
                .card-content.stepTwo-content
                    .card-description 請選擇所擁有的信用卡之發卡銀行（*可複選
                    .stepTwo_checkbox-block.checkbox-block
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B006" type="checkbox")
                                .state.p-success
                                    label 合作金庫
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B007" type="checkbox")
                                .state.p-success
                                    label 第一銀行
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B008" type="checkbox")
                                .state.p-success
                                    label 華南銀行
            .stepThree.clothed
                h2 step3：選擇信用卡
                .card-content.stepThree-content
                    .card-description 請選擇擁有的信用卡（*可複選）
                    .stepThree_checkbox-block.checkbox-block
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B007CD002" type="checkbox")
                                .state.p-success
                                    label 第一 Wonderful星璨卡
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B008CD008" type="checkbox")
                                .state.p-success
                                    label 華南 icash聯名卡
                        .chekckBox
                            .pretty.p-default.p-curve.p-fill
                                input(value="B012CD003" type="checkbox")
                                .state.p-success
                                    label 台北富邦 數位生活卡
        .footer
            hr
            button 計算折扣金額